day3/autoGenerated.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2023 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="address">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="street" />
				<xs:element ref="building_number" />
				<xs:element ref="region" />
				<xs:element ref="city" />
				<xs:element ref="country" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="addresses">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="address" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="building_number">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="123" />
				<xs:enumeration value="456" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="city">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Alexandria" />
				<xs:enumeration value="Cairo" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="country">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="EGY" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="email" type="xs:string" />
	<xs:element name="employee">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name" />
				<xs:element ref="phones" />
				<xs:element ref="addresses" />
				<xs:element ref="email" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="employees">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="employee" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Mahmooud Mohamed" />
				<xs:enumeration value="Omar Mohamed" />
				<xs:enumeration value="khaled Mohamed" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="phone">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_phone">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="home" />
								<xs:enumeration value="mobile" />
								<xs:enumeration value="work" />
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="phones">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="phone" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="region">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="East" />
				<xs:enumeration value="West" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="street">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Main Street" />
				<xs:enumeration value="Second Street" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="ST_phone">
		<xs:restriction base="xs:long">
			<xs:enumeration value="1024291619325" />
			<xs:enumeration value="1091619325" />
			<xs:enumeration value="12042182484451" />
			<xs:enumeration value="1204882452744451" />
			<xs:enumeration value="1204884451" />
			<xs:enumeration value="2135872" />
			<xs:enumeration value="342612525484" />
			<xs:enumeration value="34261484" />
			<xs:enumeration value="34261484544" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>